@model InsurancePortal.Models.Policy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Policy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyCategory.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolicyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
